.brands {
  padding: 70px 0;
  .container {
    max-width: 1200px;
    .brands-item {
      display: flex;
      justify-content: center;
      .brands-link {
        font-size: 20px;
        img {
          width: 110px;
          opacity: 0.5;
          filter: grayscale(0.9);
          transition: $general-transition;
          &:hover {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
    }
  }
}
