.demo{
   background-color: #FBFBFB;
   border: 1px solid #F5F5F5;
   padding: 30px 0;
    .container{
        max-width: 1220px;
    .left{
        text-align: center;
      .demo-sub-title{
          font-size: 15px;
          color:#ADA5AD;    
      }
      .demo-title{
          font-size: 22px;
          margin: 15px 0;
          font-weight: 600;
          color:#333;
      }
      .desc{
          font-size: 14px;
      }
      .demo-link1{
          text-transform: uppercase;
          color: #333;
          font-weight: 500;
          border-bottom: 2px solid $green;
      }
    }
    .right{
        position: relative;
  
    }
}
}
